<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CatMountsMapper">
    <resultMap type="com.ruoyi.system.domain.CatMounts" id="CatMountsResult">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="brand" column="brand" />
        <result property="model" column="model" />
        <result property="mountType" column="mount_type" />
        <result property="maxLoadKg" column="max_load_kg" />
        <result property="fitsSizeRange" column="fits_size_range" />
        <result property="vesaStandard" column="vesa_standard" />
        <result property="steelThickness" column="steel_thickness" />
        <result property="stockQuantity" column="stock_quantity" />
        <result property="unitPrice" column="unit_price" />
        <result property="warehouseLocation" column="warehouse_location" />
        <result property="status" column="status" />
        <result property="delFlag" column="del_flag" />
    </resultMap>

    <sql id="selectMountsVo">
        select id, name, brand, model, mount_type, max_load_kg, fits_size_range, vesa_standard, steel_thickness, stock_quantity, unit_price, warehouse_location, status, del_flag from cat_mounts
    </sql>

    <select id="selectMounts" parameterType="com.ruoyi.system.domain.CatMounts" resultMap="CatMountsResult">
        <include refid="selectMountsVo" />
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="name != null and name != ''"> and name = #{name}</if>
            <if test="brand != null and brand != ''"> and brand = #{brand}</if>
            <if test="model != null and model != ''"> and model = #{model}</if>
            <if test="mountType != null and mountType != ''"> and mount_type = #{mountType}</if>
            <if test="maxLoadKg != null"> and max_load_kg = #{maxLoadKg}</if>
            <if test="fitsSizeRange != null and fitsSizeRange != ''"> and fits_size_range = #{fitsSizeRange}</if>
            <if test="vesaStandard != null and vesaStandard != ''"> and vesa_standard = #{vesaStandard}</if>
            <if test="steelThickness != null"> and steel_thickness = #{steelThickness}</if>
            <if test="stockQuantity != null"> and stock_quantity = #{stockQuantity}</if>
            <if test="unitPrice != null"> and unit_price = #{unitPrice}</if>
            <if test="warehouseLocation != null and warehouseLocation != ''"> and warehouse_location = #{warehouseLocation}</if>
            <if test="status != null"> and status = #{status}</if>
            <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
    </select>

    <select id="selectMountsById" parameterType="Long" resultMap="CatMountsResult">
        <include refid="selectMountsVo" />
        where id = #{id}
    </select>

    <select id="selectMountsList" parameterType="com.ruoyi.system.domain.CatMounts" resultMap="CatMountsResult">
        <include refid="selectMountsVo" />
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="name != null and name != ''"> and name = #{name}</if>
            <if test="brand != null and brand != ''"> and brand = #{brand}</if>
            <if test="model != null and model != ''"> and model = #{model}</if>
            <if test="mountType != null and mountType != ''"> and mount_type = #{mountType}</if>
            <if test="maxLoadKg != null"> and max_load_kg = #{maxLoadKg}</if>
            <if test="fitsSizeRange != null and fitsSizeRange != ''"> and fits_size_range = #{fitsSizeRange}</if>
            <if test="vesaStandard != null and vesaStandard != ''"> and vesa_standard = #{vesaStandard}</if>
            <if test="steelThickness != null"> and steel_thickness = #{steelThickness}</if>
            <if test="stockQuantity != null"> and stock_quantity = #{stockQuantity}</if>
            <if test="unitPrice != null"> and unit_price = #{unitPrice}</if>
            <if test="warehouseLocation != null and warehouseLocation != ''"> and warehouse_location = #{warehouseLocation}</if>
            <if test="status != null"> and status = #{status}</if>
            <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
    </select>

    <insert id="insertMounts" parameterType="com.ruoyi.system.domain.CatMounts" useGeneratedKeys="true" keyProperty="id">
        insert into cat_mounts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="brand != null and brand != ''">brand,</if>
            <if test="model != null and model != ''">model,</if>
            <if test="mountType != null and mountType != ''">mount_type,</if>
            <if test="maxLoadKg != null">max_load_kg,</if>
            <if test="fitsSizeRange != null and fitsSizeRange != ''">fits_size_range,</if>
            <if test="vesaStandard != null and vesaStandard != ''">vesa_standard,</if>
            <if test="steelThickness != null">steel_thickness,</if>
            <if test="stockQuantity != null">stock_quantity,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="warehouseLocation != null and warehouseLocation != ''">warehouse_location,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="brand != null and brand != ''">#{brand},</if>
            <if test="model != null and model != ''">#{model},</if>
            <if test="mountType != null and mountType != ''">#{mountType},</if>
            <if test="maxLoadKg != null">#{maxLoadKg},</if>
            <if test="fitsSizeRange != null and fitsSizeRange != ''">#{fitsSizeRange},</if>
            <if test="vesaStandard != null and vesaStandard != ''">#{vesaStandard},</if>
            <if test="steelThickness != null">#{steelThickness},</if>
            <if test="stockQuantity != null">#{stockQuantity},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="warehouseLocation != null and warehouseLocation != ''">#{warehouseLocation},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
        </trim>
    </insert>

    <update id="updateMounts" parameterType="com.ruoyi.system.domain.CatMounts">
        update cat_mounts
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="brand != null and brand != ''">brand = #{brand},</if>
            <if test="model != null and model != ''">model = #{model},</if>
            <if test="mountType != null and mountType != ''">mount_type = #{mountType},</if>
            <if test="maxLoadKg != null">max_load_kg = #{maxLoadKg},</if>
            <if test="fitsSizeRange != null and fitsSizeRange != ''">fits_size_range = #{fitsSizeRange},</if>
            <if test="vesaStandard != null and vesaStandard != ''">vesa_standard = #{vesaStandard},</if>
            <if test="steelThickness != null">steel_thickness = #{steelThickness},</if>
            <if test="stockQuantity != null">stock_quantity = #{stockQuantity},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="warehouseLocation != null and warehouseLocation != ''">warehouse_location = #{warehouseLocation},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteMountsById" parameterType="Long">
        delete from cat_mounts where id = #{id}
    </delete>

    <delete id="deleteMountsByIds" parameterType="Long[]">
        delete from cat_mounts where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>